@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bgGr {
  background-image: linear-gradient(
    to top,
    #ffc7c7,
    #fbd3dd,
    #f6dfed,
    #f2ebf5,
    #f6f6f6
  );
} */

.animateTop {
  animation: fadeTop 1.5s;
}

.animateRight {
  animation: fadeRight 1.5s;
}
.animateLeft {
  animation: fadeLeft 1.5s;
}

@keyframes fadeTop {
  0% {
    opacity: 0;
    translate: 0 -100%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    translate: -100% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    translate: 100% 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

/* .floatY {
  animation: floatY 3s 1.5s ease-in-out infinite alternate;
}

.floatX {
  animation: floatX 3s ease-in-out infinite alternate;
}

@keyframes floatY {
  100% {
    translate: 0 5%;
  }
  0% {
    translate: 0 -5%;
  }
}
@keyframes floatX {
  0% {
    translate: 5% 0;
  }
  100% {
    translate: -5% 0;
  }
} */
