@tailwind base;
@tailwind components;
@tailwind utilities;

.loginBg {
  background:
    url("./assets/images/loginBg.jpg") no-repeat center,
    #111827;
  background-size: cover;
  object-fit: cover;
}
